# Start configuration added by Zim install {{{
#
# This is not sourced during shell startup, and it's only used to configure the
# zimfw plugin manager.
#

#
# Modules
#

# Sets sane Zsh built-in environment options.
zmodule environment
# Provides handy git aliases and functions.
zmodule git
# Applies correct bindkeys for input events.
zmodule input
# Shown when there is no command and user presses ENTER.
zmodule magic-enter

#
# Prompt
#

# Exposes to prompts how long the last command took to execute, used by asciiship.
zmodule duration-info
# Exposes git repository status information to prompts, used by asciiship.
zmodule git-info
# Formats the current working directory to be used by prompts.
zmodule prompt-pwd
# A heavily reduced, ASCII-only version of the Spaceship and Starship prompts.
zmodule gitster

#
# Completion
#

# Additional completion definitions for Zsh.
zmodule zsh-users/zsh-completions --fpath src
# Enables and configures smart and extensive tab completion.
# completion must be sourced after all modules that add completion definitions.
zmodule completion

#
# Modules that must be initialized last
# (Modules that provide or bind zle widgets)
#

# Fish-like syntax highlighting for Zsh.
# Must be sourced after completion
zmodule zdharma-continuum/fast-syntax-highlighting
# Fish-like history search (up arrow) for Zsh.
# Must be sourced after zsh-users/zsh-syntax-highlighting
zmodule zsh-users/zsh-history-substring-search
# Fish-like autosuggestions for Zsh.
zmodule zsh-users/zsh-autosuggestions
# Reminds you of your existing aliases
zmodule MichaelAquilina/zsh-you-should-use --source you-should-use.plugin.zsh
# Quickly toggle an app in the bg and fg
zmodule hcgraf/zsh-sudo --source sudo.plugin.zsh
