# vim: ft=ps1

{{ if (and (not .ephemeral) (not .headless)) -}}

$ErrorActionPreference = 'Stop'

$Settings = @(
    # Explorer
    @{
        Path  = 'HKCU:\Software\Microsoft\Windows\CurrentVersion\Explorer\Advanced'
        Name  = 'Hidden'
        Type  = 'DWord'
        Value = 1
    }
    @{
        Path  = 'HKCU:\Software\Microsoft\Windows\CurrentVersion\Explorer\Advanced'
        Name  = 'HideFileExt'
        Type  = 'DWord'
        Value = 0
    }
    @{
        Path  = 'HKCU:\Software\Microsoft\Windows\CurrentVersion\Explorer\CabinetState'
        Name  = 'FullPath'
        Type  = 'DWord'
        Value = 1
    }
    @{
        Path  = 'HKCU:\Software\Microsoft\Windows\CurrentVersion\Policies\Explorer'
        Name  = 'DisableThumbnailsOnNetworkFolders'
        Type  = 'DWord'
        Value = 1
    }
    @{
        Path  = 'HKCU:\Software\Microsoft\Windows\CurrentVersion\Policies\Explorer'
        Name  = 'ConfirmFileDelete'
        Type  = 'DWord'
        Value = 0
    }

    # Search / taskbar
    @{
        Path  = 'HKCU:\Software\Microsoft\Windows\CurrentVersion\Search'
        Name  = 'SearchboxTaskbarMode'
        Type  = 'DWord'
        Value = 0
    }
    @{
        Path  = 'HKCU:\SOFTWARE\Microsoft\Windows\CurrentVersion\Explorer\Advanced'
        Name  = 'ShowTaskViewButton'
        Type  = 'DWord'
        Value = 0
    }
    @{
        Path  = 'HKCU:\SOFTWARE\Microsoft\Windows\CurrentVersion\Explorer\Advanced'
        Name  = 'TaskbarDa'
        Type  = 'DWord'
        Value = 0
    }
    @{
        Path  = 'HKCU:\SOFTWARE\Microsoft\Windows\CurrentVersion\Explorer\Advanced'
        Name  = 'TaskbarMn'
        Type  = 'DWord'
        Value = 0
    }
    @{
        Path  = 'HKCU:\SOFTWARE\Microsoft\Windows\CurrentVersion\Explorer\Advanced'
        Name  = 'TaskbarAl'
        Type  = 'DWord'
        Value = 0
    }

    # Personalization / title bar
    @{
        Path  = 'HKCU:\SOFTWARE\Microsoft\Windows\CurrentVersion\Themes\Personalize'
        Name  = 'ColorPrevalence'
        Type  = 'DWord'
        Value = 0
    }
    @{
        Path  = 'HKCU:\SOFTWARE\Microsoft\Windows\DWM'
        Name  = 'ColorPrevalence'
        Type  = 'DWord'
        Value = 0
    }

    # Accessibility
    @{
        Path  = 'HKCU:\SOFTWARE\Microsoft\Narrator\NoRoam'
        Name  = 'WinEnterLaunchEnabled'
        Type  = 'DWord'
        Value = 0
    }

    # Window snapping
    @{
        Path  = 'HKCU:\Control Panel\Desktop'
        Name  = 'WindowArrangementActive'
        Type  = 'String'
        Value = '0'
    }
    @{
        Path  = 'HKCU:\SOFTWARE\Microsoft\Windows\CurrentVersion\Explorer\Advanced'
        Name  = 'SnapFill'
        Type  = 'DWord'
        Value = 0
    }
    @{
        Path  = 'HKCU:\SOFTWARE\Microsoft\Windows\CurrentVersion\Explorer\Advanced'
        Name  = 'SnapAssist'
        Type  = 'DWord'
        Value = 0
    }
    @{
        Path  = 'HKCU:\SOFTWARE\Microsoft\Windows\CurrentVersion\Explorer\Advanced'
        Name  = 'JointResize'
        Type  = 'DWord'
        Value = 0
    }

    # Tablet / typing
    @{
        Path  = 'HKCU:\SOFTWARE\Microsoft\TabletTip\1.7'
        Name  = 'EnableAutocorrection'
        Type  = 'DWord'
        Value = 0
    }
)

Write-Host "Configuring desktop settings..."

foreach ($Setting in $Settings) {
    $path = $Setting.Path
    $name = $Setting.Name
    $type = $Setting.Type
    $value = $Setting.Value

    # Create the registry key if it doesn't exist.
    if (-not (Test-Path -LiteralPath $path)) {
        New-Item -Path $path -Force | Out-Null
    }

    $key = Get-Item -LiteralPath $path
    $exists = $key.GetValueNames() -contains $name

    # Check both the registry type and value.
    $needsUpdate = (
        -not $exists -or
        $key.GetValueKind($name).ToString() -ne $type -or
        $key.GetValue($name) -cne $value
    )

    if ($needsUpdate) {
        Write-Host "Setting $path\$name = $value"

        New-ItemProperty `
            -LiteralPath $path `
            -Name $name `
            -PropertyType $type `
            -Value $value `
            -Force | Out-Null
    }
}

{{ end -}}
