#!/bin/sh
# vim: ft=sh

script="{{ .chezmoi.workingTree }}/scripts/setup-ssh.sh"
if ! test -x "${script}"; then
    echo "Error: Missing script '${script}'!" >&2
    exit 1
fi

"${script}" "{{ .chezmoi.sourceDir }}" "{{ .email }}" "$HOME/.ssh/id_ed25519"
